body {
  background-color: #101010;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

#tetris-view {
  width: 432px;
  margin: 2rem auto;
  display: flex;
}

#tetris-view .left {
  width: 50%;
  border: solid 1px #404040;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#tetris-view .right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#tetris-view .grid {
  display: flex;
  flex-direction: column;
}

#tetris-view .row {
  display: flex;
}

#tetris-view .square {
  background-color: #101010;
  width: 18px;
  height: 18px;
}

#tetris-view .score {
  font-family: Consolas, monaco, monospace;
  text-align: center;
  color: #d0d0d0;
  border: solid 1px #404040;
  background-color: #101010;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tetris-view .next {
  border: solid 1px #404040;
  background-color: #101010;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tetris-view .instructions {
  border: solid 1px #404040;
  font-family: Consolas, monaco, monospace;
  color: #d0d0d0;
  padding: 1em;
}
